NODE_ENV=production
PORT=4000

AUTH_SERVICE_URL=http://<auth-service-url>
PARKING_SERVICE_URL=http://<parking-service-url>
PRICING_SERVICE_URL=http://<pricing-service-url>
FAVORITES_SERVICE_URL=http://<favorites-service-url>
REPORTS_SERVICE_URL=http://<reports-service-url>
