NODE_ENV=production
PORT=4004

# PostgreSQL
DB_HOST=<db-host>
DB_PORT=5432
DB_NAME=<db-name>
DB_USERNAME=<db-user>
DB_PASSWORD=<db-password>

# JWT
JWT_SECRET=<your-jwt-secret>
JWT_EXPIRES_IN=30m
JWT_ISSUER=AuthService
JWT_AUDIENCE=AuthService

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USERNAME=<your-email>
SMTP_PASSWORD=<your-app-password>
EMAIL_FROM=<your-email>
EMAIL_FROM_NAME=ParkPoint Solutions

SUPER_ADMIN_EMAIL=<admin-email>
FRONTEND_URL=http://<frontend-url>
